{:deps         true
 :nrepl {:host "0.0.0.0"
         :port 5100}
 :http {:port 5101
        :host "0.0.0.0"}
 :builds {:extension {:target :node-library
                      :exports-var mult.extension/exports
                      :output-to "resources/out/extension.js"
                      :devtools {:repl-init-ns mult.extension
                                 :repl-pprint true
                                 :autobuild true
                                 :devtools-url "http://localhost:5101"
                                 :after-load mult.extension/reload}}
          :tabapp {:target :browser
                   :output-dir "resources/out"
                   :asset-path "/out"
                   :module-loader true
                   :modules {:tabapp {:entries [mult.impl.tabapp]}}
                   :compiler-options {:infer-externs    :auto
                                      :closure-warnings {:global-this :off}
                                      :closure-defines  {"mult.impl.tabapp._some_val_"         true}}
                   :devtools {:repl-init-ns mult.impl.tabapp
                              :repl-pprint true
                              :autobuild false
                              :devtools-url "http://localhost:5101"
                              :http-root  "resources"
                              :http-port  5102}}}}