{:paths ["src" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps
 {}

 :aliases
 {:core
  {:extra-deps {org.clojure/clojure         {:mvn/version "1.10.3"}
                org.clojure/clojurescript {:mvn/version "1.10.758"}
                org.clojure/spec.alpha {:mvn/version "0.2.187"}
                org.clojure/core.async {:mvn/version "1.1.587"}}

   :override-deps {github.borkdude/sci {:git/url "https://github.com/borkdude/sci"
                                        :sha "05f2fe44445d9b21cb0b50d6bac455ca5eea90ec"
                                        :tag "v0.2.4"}

                   cljfmt/cljfmt {:mvn/version "0.7.0"
                                  :exclusions [rewrite-clj
                                               rewrite-cljs]}
                   github.clj-commons/rewrite-clj {:git/url "https://github.com/clj-commons/rewrite-clj"
                                                   :sha "db337b393ac527abe4015854d706ece2a9daeed2"
                                                   :tag "v1.0.579-alpha"}

                   github.cljctools/edit {:local/root  "../edit/src/edit"}
                   github.cljctools/edit-process {:local/root  "../edit/src/edit-process"}
                   github.cljctools/edit-process-meta {:local/root  "../edit/src/edit-process-meta"}}}

  :mult-vscode
  {:extra-deps {github.cljctools/mult-vscode {:local/root "./src/mult-vscode"}}}

  :mult-ui-vscode
  {:extra-deps {github.cljctools/mult-ui-vscode {:local/root "./src/mult-ui-vscode"}}}

  :shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.7"}

                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}
                cider/piggieback {:mvn/version "0.5.2"}}}

  :clj-test-runner
  {:extra-deps {github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                   :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "src/socket-test"
               "-n" "cljctools.socket.java-net-test"]}

  :cljs-test-runner
  {:extra-deps {github.Olical/cljs-test-runner {:git/url "https://github.com/Olical/cljs-test-runner"
                                                :sha "a9cc21916f32fb6caa9f54e349e7cc32b199b0c2"
                                                :tag "v3.8.0"}}
   :main-opts ["-m" "cljs-test-runner.main"
               "-d" "src/socket-test"]}

  :repl
  {:extra-deps {github.cljctools/deps-repl {:git/url "https://github.com/cljctools/deps-repl"
                                            :sha "08283d3841c5948b0b9d36a977ebfdad111cdb2f"
                                            :tag "v2.0.1"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}}
   :main-opts ["-m" "lambdaisland.nrepl.main"
               "--init-ns" "cljctools.socket.java-net-test"
               "--port" "7788"
               "--bind" "0.0.0.0"
               "--middleware" "cider.nrepl/cider-middleware"]}}}
