{:deps         true
 :nrepl {:host "0.0.0.0"
         :port #shadow/env ["SHADOWCLJS_NREPL_PORT" :as :int :default 8899]}
 :http {:port #shadow/env ["SHADOWCLJS_HTTP_PORT" :as :int :default 9630]
        :host "0.0.0.0"}
 :builds {:mult {;;       :target :node-library
                 :target :node-script
                 :main cljctools.mult.vscode.main/main
                 :exports-var cljctools.mult.vscode.main/exports
                 :output-to "resources/out/mult/main.js"
                 :compiler-options {:optimizations :simple
                                        ;;  :dump-core false
                                    :stable-names true
                                    :infer-externs   false #_:auto
                                    :recompile-dependents true
                                    :source-maps true
                                        ;;  :verbose true
                                    }
                 :devtools {:repl-init-ns cljctools.mult.vscode.main
                            :repl-pprint true
                            :autobuild true
                            :devtools-url "http://localhost:9630"
                            :after-load cljctools.mult.vscode.main/reload}}
          
          :mult-ui {:target :browser
                    :output-dir "resources/out/mult-ui"
                    :asset-path "/out/mult-ui"
                    :module-loader true
                    :modules {:main {:entries [cljctools.mult.vscode.ui.main]}}
                    :compiler-options {:infer-externs   false #_:auto
                                       :closure-warnings {:global-this :off}
                                       :closure-defines  {"mult.impl.tabapp._some_val_"         true}}
                    :devtools {:repl-init-ns cljctools.mult.vscode.ui.main
                               :repl-pprint true
                               :autobuild true
                               :devtools-url "http://localhost:9630"
                               :http-root  "resources"
                               :http-port  #shadow/env ["SHADOWCLJS_DEVTOOLS_HTTP_PORT" :as :int :default 9500]}}}}