{:paths ["src"]
 :deps {cljfmt/cljfmt {}
        github.cljctools/edit-process {}
        github.cljctools/mult {:local/root  "../mult"}
        github.cljctools/mult-nrepl-nodejs {:local/root  "../mult-nrepl-nodejs"}
        github.cljctools/mult-editor-vscode {:local/root  "../mult-editor-vscode"}}}