{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        ;;  org.clojure/core.async {:mvn/version "1.1.587"}
        andare/andare {:mvn/version "1.1.587"}

        github.cljctools/nrepl-client {:local/root "../../../nrepl-client"}
        github.cljctools/socket {:local/root "../../../socket"}
        github.cljctools/socket-nodejs-net {:local/root "../../../socket/src/socket-nodejs-net"}
        github.cljctools/paredit {:local/root "../../../paredit"}

        github.cljctools/mult-spec {:local/root  "../mult-spec"}
        github.cljctools/mult-editor {:local/root  "../mult-editor"}}}