{:connections {["localhost" 7788] {:name :server
                                   :iden {:type :nrepl}}
               ["localhost" 8899] {:name :ui
                                   :iden {:type :nrepl}}
               ["localhost" 5100] {:name :mult
                                   :iden {:type :nrepl}}}
 :repls {:ui {:iden {:type :shadow-cljs
                     :runtime :cljs
                     :build :app}
              :conn :ui
              :pred/include-file? (fn [file-uri]
                                    (re-matches (re-pattern ".+\\.clj(s|c)") file-uri))}
         :devserver  {:iden {:type :shadow-cljs
                             :runtime :clj}
                      :pred/include-file? (fn [file-uri]
                                            (re-matches (re-pattern ".+\\.cljc?") file-uri))
                      :conn :ui}
         :server {:iden {:type :nrepl-server
                         :runtime :clj}
                  :pred/include-file? (fn [file-uri]
                                        (re-matches (re-pattern ".+\\.cljc?") file-uri))
                  :conn :server}}
 :tabs {:system {:repls {:ui {}
                         :server {}}
                 :when-cljc :recent}
        :all {:repls {:ui {}
                      :server {}
                      :devserver {}}
              :when-cljc :cljs}}
 :tabs/default #{:system}}