{:connections {:server  {:host "localhost"
                         :port 7788
                         :iden {:type :nrepl}}
               :ui {:host "localhost"
                    :port 8899
                    :iden {:type :nrepl}}
               :mult {:host "localhost"
                      :port 5100
                      :iden {:type :nrepl}}}
 :repls {:ui {:iden {:type :shadow-cljs
                     :runtime :cljs
                     :build :app}
              :conn :ui
              :pred/include-file? (fn [filepath]
                                    (re-matches (re-pattern ".+\\.clj(s|c)") filepath))}
         :devserver  {:iden {:type :shadow-cljs
                             :runtime :clj}
                      :pred/include-file? (fn [filepath]
                                            (re-matches (re-pattern ".+dev/shadow.clj") filepath))
                      :conn :ui}
         :server {:iden {:type :nrepl-server
                         :runtime :clj}
                  :pred/include-file? (fn [filepath]
                                        (re-matches (re-pattern ".+\\.cljc?") filepath))
                  :conn :server}}
 :tabs {:system {:repls {:ui {}
                         :server {}}
                 :when-cljc :recent}
        :all {:repls {:ui {}
                      :server {}
                      :devserver {}}
              :when-cljc :cljs}}
 :tabs/active #{:system}}