{:connections {:server {:host "localhost"
                        :port 7788
                        :kind {:type :nrepl}}
               :ui {:host "localhost"
                    :port 8899
                    :kind {:type :nrepl}}
               :mult {:host "localhost"
                      :port 5100
                      :kind {:type :nrepl}}}
 :repls {:ui {:kind {:type :shadow-cljs
                     :runtime :cljs
                     :build :app}
              :conn :ui}
         :test {:kind {:type :shadow-cljs
                       :runtime :cljs
                       :build :test}
                :conn :ui}
         :devserver  {:kind {:type :shadow-cljs
                             :runtime :clj}
                      :conn :ui}
         :server {:kind {:type :nrepl-server
                         :runtime :clj}
                  :conn :server}
         :mult {:kind {:type :shadow-cljs
                       :runtime :cljs
                       :build :extension}
                :conn :mult}}
 :tabs {:system {:repls {:ui {}
                         :test {}
                         :devserver {}
                         :server {}
                         :mult {}}
                 :mult {:mult {}}}}
 :tabs/default #{:system}}
  
