#:mult.conf.spec{:connections {:devserver #:mult.conf.spec{:host "localhost"
                                                           :port 5100
                                                           :conn-type :nrepl}}
                 :repls {:extension #:mult.conf.spec{:conn-id :devserver
                                                     :repl-type :shadow-cljs
                                                     :runtime :cljs
                                                     :shadow-build-key :extension
                                                     :include-file? (fn [filepath]
                                                                      (re-matches (re-pattern ".+\\.clj(s|c)") filepath))}
                         :gui #:mult.conf.spec{:conn-id :devserver
                                               :repl-type :shadow-cljs
                                               :runtime :cljs
                                               :shadow-build-key :gui
                                               :include-file? (fn [filepath]
                                                                (re-matches (re-pattern ".+\\.clj(s|c)") filepath))}
                         :devserver #:mult.conf.spec{:conn-id :gui
                                                     :repl-type :shadow-cljs
                                                     :runtime :clj
                                                     :include-file? (fn [filepath]
                                                                      (re-matches (re-pattern ".+dev/shadow.clj") filepath))}}

                 :tabs {:extension #:mult.conf.spec{:repl-ids #{:extension}}
                        :extension-gui #:mult.conf.spec{:repl-ids #{:extension :gui}}
                        :extension-gui-devserver #:mult.conf.spec{:repl-ids #{:extension :gui :devserver}}}
                 :open-tabs #{:extension-gui}
                 :active-tab #{:extension-gui}}