{:paths ["src"]
 :deps {github.borkdude/sci {:git/url "https://github.com/borkdude/sci"
                             :sha "05f2fe44445d9b21cb0b50d6bac455ca5eea90ec"
                             :tag "v0.2.4"}

        github.cljctools/mult-meta {:local/root  "../mult-meta"}
        github.cljctools/mult-format-meta {:local/root  "../mult-format-meta"}
        github.cljctools/mult-editor-meta {:local/root  "../mult-editor-meta"}
        github.cljctools/mult-nrepl-meta {:local/root  "../mult-nrepl-meta"}
        github.cljctools/mult-format {:local/root  "../mult-format"}}}